.orders-table {
	margin-top: 20px;
	/* border: 1px solid #dddddd; */
	border-collapse: collapse;  
}
.orders-table th {
	font-weight: bold;
	padding: 5px;
	background-color: #132855;
  color: aliceblue;
  font-size: 18px;
}
.orders-table td {
	border: 2px solid #a4a3a3;
	padding: 5px;
  text-align: right;
  background-color:rgb(209, 219, 250);
}

.total-title {
  font-size: 28px;
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.total-sum {
  font-size: 48px;
  text-align: center;
}

.total {
  border: 2px solid rgba(105, 104, 104, 0.922);
}

.header {
  background-color: aquamarine;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.diagram {
  width: 70% !important;
  height: 70% !important;
}
